<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gurzelai.sorteo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sorteo">
        <activity android:name="com.gurzelai.sorteo.MostrarResultado"></activity>
        <activity android:name="com.gurzelai.sorteo.Ayuda" />
        <activity android:name="com.gurzelai.sorteo.Nuevo" />
        <activity android:name="com.gurzelai.sorteo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>